/* background */
html {
    background: linear-gradient(44deg, #757f7d, #e9e9f2);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:90% 0%}
    50%{background-position:11% 100%}
    100%{background-position:90% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:90% 0%}
    50%{background-position:11% 100%}
    100%{background-position:90% 0%}
}
@keyframes AnimationName {
    0%{background-position:90% 0%}
    50%{background-position:11% 100%}
    100%{background-position:90% 0%}
}

body {
    font-family: Cardo;
    font-weight: normal;
}

h1, h2, h3, h4, h5, h6, li, dd a {
    font-family: Amiri;
    font-style: italic;
    font-weight: normal;
}

main {
    overflow: hidden;
    position: relative;
}

body > img {
    opacity: 0.1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}

body > main {
    position: relative;
}

header > hr {
    background: black;
}

/* navigation */
nav {
    text-align: center;
}
nav li a {
    color: black;
    text-decoration: none;
}
nav li a.active {
    border-bottom: thin solid black;
    padding-bottom: 0.6em;
}
nav img {
    vertical-align: middle;
    display: inline;
}

/* info */
dt {
    margin-top: 6%;
}
dt ~ dd {
    display: inline;
}
dd a {
    text-decoration: none;
}

/* contact */
form {
    max-width: 100%;
}

/* upcoming */
dt ~ dd > p {
    display: inherit;
}

/* releases */
ul > li > details {
    margin-top: 6%;
}
