body {
    font-family: Cardo;
    font-weight: normal;
}

h1, h2, h3, h4, h5, h6, li, a {
    font-style: italic;
    font-weight: normal;
}

h2 { padding-bottom: 1em; }

header > hr { background: black; }

a { text-decoration: none; }

loader {
    width: 100%;
    height: 100%;
    background-color: white;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    z-index: 99;
}
loader > img {
    position: absolute;
    top: 50%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index: 100;
}

/* navigation */
header { position: relative; }

header:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.08;
    background-image: url('../assets/enmossed_background_transparent.png');
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: 58.2%;
    background-size: 36%;
}

nav {
    text-align: center;
    position: relative;
}

nav li { margin-right: .5em; }

@media (hover: hover) {
    nav a:not(.home):after {
        content: "";
        display: block;
        width: 0%;
        margin: 0 auto;
        padding-top: 0.6em;
        border-bottom: thin solid black;
        transition: .5s;
    }

    nav a:not(.home):hover:after { width: 100%; }
}

nav a, nav a:hover, nav a:visited { color: black; }

nav img {
    vertical-align: middle;
    display: inline;
}

/* info */
dt ~ dd { display: inline-block; }

/* contact */
form { max-width: 100%; }

/* upcoming */
dt ~ dd > p { display: inherit; }

/* releases */
div input[type="checkbox"] {
    position: absolute;
    left: -100vw;
    opacity: 0;
}
div label {
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    border-bottom: 0.18em dashed;
    margin-bottom: 1em;
}
div input[type="checkbox"] ~ div {
    max-height: 0em;
    visibility: collapse;
}

div input[type="checkbox"]:checked ~ div {
    animation: sweep .7s ease-in-out;
    max-height: 100%;
    visibility: visible;
}

div input[type="checkbox"]:checked ~ div label {
    animation: sweep .7s ease-in-out;
    font-style: italic;
    border-bottom: 0.1em dashed;
    font-size: 0.9em;
}
@keyframes sweep {
    0%    {opacity: 0; max-height: 0; }
    100%  {opacity: 1; max-height: 100%; }
}

iframe { display: block; }

div > p { padding-bottom: 2em; }

div > img { margin-left: 0; }

@media ( min-width: 600px )  {
    nav { padding-top: 2em; }

    nav li { margin-right: 1em; }

    header:before { background-position-x: 54.2%; }

    header hr { margin: 3.4em 0; }

    div input[type="checkbox"]:checked ~ div { margin-left: 2em; }
    div input[type="checkbox"]:checked ~ div > label ~ div { margin-left: 2em; }
}
